Django>=2.0
psycopg2
setuptools
django-simple-history
django-jquery
GitPython
Pygments
django_bootstrap_breadcrumbs
django-cors-headers
requests
colour
djangorestframework
httplib2
Trolly
lxml
web3
py-solc
marshmallow
bitcoin
django-model-utils
apscheduler
